apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: waiter
  namespace: default
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/minScale: "0"
        autoscaling.knative.dev/maxScale: "10"
        autoscaling.knative.dev/target: "10"
        autoscaling.knative.dev/class: "kpa.autoscaling.knative.dev"
        autoscaling.knative.dev/metric: "concurrency"
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "8080"
      labels:
        app: waiter
        tenant: demo-tenant
        version: v1
    spec:
      containers:
        - image: dev.local/waiter-service:v1-1700000000   # пример
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              name: http1
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "128Mi"
              cpu: "200m"
